@import '../../variables';

.footer {
  padding: $space $space-double;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text {
    @include rich-text;
    &:before{
      content: "// ";
    }

    span {
      color: $color-main;
      font-weight: 600;
    }
  }

  @include tablet {
    padding: $space-double $space-big;
  }
}
