body {
	font-family: 'Fira Sans', sans-serif;
  color: #424651;
}

p {
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: #747572;
}

.button:hover {
  color: #be90d4;
  border-color: #be90d4;;
}

.title {
  color: #be90d4;
}

a {
  color: #be90d4;
}

a.navbar-item.is-active,
a.navbar-item:hover,
a.navbar-link.is-active,
a.navbar-link:hover {
  color: #be90d4;
}

.footer {
  background: #be90d4;
}

.footer a {
  color: white;
}

.footer p {
  font-style: initial;
  font-family: 'Fira Sans', sans-serif;
  color: #747572;
}

.slider {
  position: relative;
  width: 400%;
  overflow: hidden;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 12s slidecss infinite; 
}

.slider img {
  width: 25%;
  float: left;
}

.facade-minimal {
  padding: 54px 0 0 0;
}

@keyframes slidecss {
  0% { left: 0%; }
  20% {left: 0%;}
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%;}
  75% {left: -300%;}
  100% { left: -300%; }
}