.new-views {
  border-top: 3px solid rgba(190,144,212,.95);
  padding-top: 15px !important;
  height: 3px;
}

.new-views-popup {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  color: rgba(190,144,212,.95);
  background: #fff;
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 8000;
  padding: 15px;
  width: 250px;
  height: 35px;
  border-color: rgba(190,144,212,.95);
  border: 1px solid;

  .heading {
    font-size: 16px;
    font-weight: bold;
  }

  .sub {
    font-size: 13px;
    color: #fff;
    color: rgba(190,144,212,.95);
  }
}

.hidden {
  visibility: hidden;
}